body
{

}
h2
{
background-color:palegoldenrod;
padding: 20px;
margin: 0px;
}
.todo
{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color:antiquewhite;
    border: 1px solid black;
    margin: 100px 0px 0px 400px;  
}
.list
{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
}
.toadd
{
display: grid;
grid-template-columns: 1fr 1fr;
width: 200px;
position: relative;
top: 100px;
left: 150px;
background-color:blueviolet;
}
#completed
{
    text-decoration: line-through;
}
#addbutton
{
    border: 1px solid;
}
.delbtn
{
    margin: 5px;
}
.donebtn
{
    margin: 5px;
}